$main-color: #224080;
$mid-main-color: #3367A0;
$light-main-color: #538CB7;

$light-background-color: #F2F2F2;

$secondary-color: #AB983C;
$light-secondary-color: #E7D374;

$tertiary-color: #538CB7;

$font-family: 'Lobster Two', cursive;