
.sign-in-registration-container {
  @extend .container;
  height: 100%;
  min-height: 100%;
}

.sign-in-register-box {
  @extend .center-block;
  @include vertical-align();
  height: 30em;
  width: 30em;
  max-height: 100%;
  background-color: $light-background-color;
  padding: 25px;
  border-radius: 30px;
  a {
    color: $main-color;
  }
}

@media only screen and (max-device-width: 768px) {
    .sign-in-registration-container {
      width: 100%;
      margin: 0;
    }
    .sign-in-register-box {
      height: 100%;
      width: 100%;
    }
}
.sign-in-register-box--header {
  h1, p {
    @extend .text-center;
    color: $main-color;
  }
  h1 {
    font-family: $font-family;
    font-size: 5em;
    margin-bottom: -0.1em; 
  }
  p {
    font-style: italic;
    margin-bottom: 2em; 
  }
}
.sign-in-register-tabs {
  @extend .nav-tabs;
  @extend .nav;
  li {
    a {
      border-radius: 20px 20px 0 0;
    }
  }
}

.sign-in-box, .register-box {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 15px;
  .sign-in-register-header {
    @extend .text-center;
    font-size: 1.2em;
  }
  button {
    @extend .btn;
    @extend .form-control;
    border-color: $mid-main-color;
    background-color: $light-main-color;
    color: $light-background-color;
    font-weight: bold;
    letter-spacing: 0.2em;
  }
}

.sign-in-register-input {
  @extend .form-group;
  input {
    @extend .form-control;
  }
}